# Google OAuth Credentials
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# MongoDB Database Connection String
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/your-database-name

# Frontend URL for CORS
FRONTEND_URL=http://localhost:3000

# JWT Secret for Token Signing
JWT_SECRET=your-secure-jwt-secret

# Port to Run the Application
PORT=5000

# Environment Definition
NODE_ENV=development or production